html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

body a {
    color: #1857a0;
}

#container {
    margin-left: 50px;
    padding-left: 1em;
    max-width: 800px;
}

